# Injoro ambientin virtual (për siguri shtesë që nuk ngarkohet)
.venv/
venv/
env/

# Injoro datasetet e ndërmjetme (ato që ri-krijohen nga skriptat)
Datasetet/processed_dataset/*.csv
Datasetet/cleaned_dataset/*.csv

# Injoro datasetet lokale per ML (mbajmë vetëm globalin)
Datasetet/ml_ready_dataset/peje_ml_data.csv
Datasetet/ml_ready_dataset/prishtine_ml_data.csv
Datasetet/ml_ready_dataset/prizren_ml_data.csv

# Injoro file-t sistemike dhe cache të Python
.DS_Store
__pycache__/
*.pyc*.joblib
